.cabal-sandbox/
cabal.sandbox.config
.shake/
dist/
deps/
convert/dist
convert/.cabal-sandbox
convert/cabal.sandbox.config
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
