body {
  background-image: url("/img/grid.png");
}

.banner {
  height: 288px;
  background-image: url("/img/bar.png");
  background-repeat: repeat-x;
}

.placeholder  {
  width: 472px;
  height: 288px;
  margin: 0 auto;
  background-image: url("/img/banner.png");
}

.placeholder .short {
  padding-top: 212px;
  font-size: 18px;
  text-align: center;
  color: #5184a1;
  text-transform: uppercase;
}

.placeholder .message {
  padding-top: 3px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar {
  padding-left: 300px;
}

/*
 * Sidebar
 */

.sidebar {
  top: 1px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: white;
  background-image: url("/img/typewriter.png");
  background-position: 20px 100px;
  background-repeat: no-repeat;
}

.sidebar .title {
  text-align: center;
  background-image: url("/img/logo.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 20px;
  height: 200px;
}
.sidebar .title .about {
  font-style: italic;
}
.sidebar .title img {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0 auto;
}

.sidebar .signup {
  margin-top: 50px;
  background-image: url("/img/signup.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 100px;
  height: 100px;
  text-align: center;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
.main {
  padding-right: 40px;
  padding-left: 40px;
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.entries {
  max-width: 100%;
}

.entries td {
  max-width: 100px;
}